*{
    padding: 0px;
    margin: 0px;
    /* background-color: rgb(216, 216, 216); */
}

.nav {
    display: inline-flex;
    margin: 20px;
}

nav {
    justify-content: space-between;
    display: flex;

}

.dark {
    background-color: rgb(105, 105, 105);

}

a {
    text-decoration: none;
    padding: 5px;
    color: aliceblue;
}

.login_icone {
    color: rgb(168, 168, 168);
}

.btn_login {
    border: none;
    background-color: orangered;
    color: aliceblue;
    width: 70px;
}

#p {
    color: white;
}



/* Navbar 2 */
.nav_2_img{
    background-image: url(./imag/45843168.jpg);
    width: 100%;
    height: 1000px;
    background-size: cover;
background-repeat: no-repeat;
}
.nav_2 {
    color: white;
    display: flex;
    justify-content: center;
    position: sticky;
}


.nav_2_Btn{
    width: 200px;
    height: 50px;
    background-color: rgb(160, 159, 159);
    color: white;
    border: none;
    border-left: 1px solid black;
}


.nav_icon_2{
    width: 50px;
    background-color: orangered;
    border: none;
    color: white;
}

.card-img-top{
    text-align: center;
    /* outline: 2px solid orangered; */
    padding: 20px;
    /* margin: 20px; */
    font-size: 50px;
    
}

.card{
    width: 10px;
    /* padding: 20px; */
    margin: 10px;
}

.card-title{
    text-align: center;
}

.cardbtn{
    width: 100%;
    text-align: left;
    border: none;
    background-color: orangered;
    padding: 10px;
    color: white;
}

.fa-chevron-right{
    text-align: end;
   
}


/* Hero */
.main_hero_hection{
    background-image: url(./imag/hero.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    /* display: flex;
    justify-content: space-between; */
}


.hero_text{
    text-align: center;

}


.maon_hero{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.fa-file{
    padding-top: 20px;
    font-size: 50px;
}

.hero_icon{
    background-color: orangered;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
}


.input{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    margin: 20px;
}

.mail{
    font-size: 20px;
    color: orangered;
    padding-top: 4px;
}

.input_submit{
    border: none;
    background-color: orangered;
    color: white;
    padding: 0px 5px; 

}

.input_email{
    width: 300px;
    border: none;
    background-color: aliceblue;
    padding: 0px 5px; 
}